.red { color:red;
	font-size:18px; 
}

.black { color:#bd1212; }

p { color: #bd1212; }

a { color: teal;
	text-decoration: none; 
}

body { text-align: normal; 
	background: rgb(20, 20, 20);
}
	
	
.p1, .p2 { text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 2px 4px black;
	width: 220px;
	border: 2px dashed #bd1212;
	/* border-width: 2px;
	border-style: dashed;
	border-color: #bd1212; */
	border-radius: 30px; 
	padding: 4px;
	margin-left: 30%; }

.entete .menu a {
	padding: 5px 12px 5px 12px;
	margin: 0 -4.5px 0 -4.5px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    font-size: 20px;
}

.entete {
	margin: 10px 20px -7px 20px;
	text-align: center;
	font-family: Arial;
	font-size: 18px;
	color: gold;
	display: block;
	border: 1px solid black;
	padding: 10px;
	position: initial;
	background: rgb(50, 50, 50);
	font-size: 30px;
	font-family: helvetica;
	line-height: 70%;
} 

.entete .title strong {
	font-size: 45px; 
	color: silver;
} 
